.arc {
  animation: xAxisArc 2s;
  border-radius: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
}

.arc::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  border: 2px solid black;
  width: 20px;
  height: 20px;
  border-radius: 20px;
  background-color: red;
  animation: yAxisArc 2s;
}

@keyframes xAxisArc {
  50% {
    animation-timing-function: cubic-bezier(0.3, 0.27, 0.07, 1.64);
    left: 50%;
  }

  100% {
    left: 100%;
  }
}

@keyframes yAxisArc {
  50% {
    animation-timing-function: cubic-bezier(0.02, 0.01, 0.21, 1);
    bottom: 250px;
  }

  100% {
    bottom: 0;
  }
}
