:root {
  --blue: #c2e6e3;
  --pink: #f4d4d1;
  --tan: #faf5e7;
  --white: #f7f1e3;
  --black: #32302c;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  position: relative;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background: var(--pink);
  color: var(--black);
  font-size: 24px;
  font-family: "Noto Sans JP", sans-serif;
  font-size: clamp(12px, 3vw, 20px);
}

.app {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.game {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}

.team {
  width: 50%;
  padding: 16px;
}

.team[data-team-id="2"] {
  text-align: right;
}

.game {
  display: flex;
  justify-content: space-between;
  padding-top: 10em;
}

select,
input,
button {
  border: solid 0.2rem var(--black);
  background: transparent;
  padding: 0.5rem;
}

[disabled] {
  opacity: 0.5;
}

button {
  background: var(--pink);
  border-radius: 0.4rem;
  padding: 0.5rem 1rem;
}
